<h1>
  Flashcard #<%= @the_flashcard.id %> details
</h1>

<article>
  <div>
    <a href="/flashcards">
      Go back
    </a>
  </div>

  
  <dl>
    <dt>
      Word
    </dt>
    <dd>
      <%= @the_flashcard.word %>
    </dd>

    <dt>
      Audio
    </dt>
    <dd>
      <%= @the_flashcard.audio %>
    </dd>

    <dt>
      Transliteration
    </dt>
    <dd>
      <%= @the_flashcard.transliteration %>
    </dd>

    <dt>
      Translation
    </dt>
    <dd>
      <%= @the_flashcard.translation %>
    </dd>

    <dt>
      Mnemonic
    </dt>
    <dd>
      <%= @the_flashcard.mnemonic %>
    </dd>

    <dt>
      Sentence
    </dt>
    <dd>
      <%= @the_flashcard.sentence %>
    </dd>

    <dt>
      Sentence translation
    </dt>
    <dd>
      <%= @the_flashcard.sentence_translation %>
    </dd>

    <dt>
      Part of speech
    </dt>
    <dd>
      <%= @the_flashcard.part_of_speech %>
    </dd>

    <dt>
      Created at
    </dt>
    <dd>
      <%= time_ago_in_words(@the_flashcard.created_at) %> ago
    </dd>

    <dt>
      Updated at
    </dt>
    <dd>
      <%= time_ago_in_words(@the_flashcard.updated_at) %> ago
    </dd>
  </dl>
</article>

<hr>
