<h1>Flashcard Review</h1>

<% if @card %>
  <div class="flashcard">
    <p><%= @card.word %></p>
  </div>

  <%= button_to "Show Answer", "/reviews/#{@review.id}", method: :get %>

 <% if @card && @review %>
    <div class="answer">
      <p><%= @card.translation %></p>
    </div>

    <%= form_with url: "/reviews/#{@review.id}", method: :put do %>
      <%= hidden_field_tag :id, @card.id %>
      <%= button_tag "Correct", name: "result", value: "correct" %>
      <%= button_tag "Incorrect", name: "result", value: "incorrect" %>
    <% end %>
  <% end %>
<% else %>
  <p>No cards due! 🎉</p>
<% end %>
